mixin imagesList(nameMixedClass, obj)
  -
    let bemBlockName = `images-list`;
    let imagesList = new variables.NodeElement(obj = {
      tagName: `div`,
      elementName: bemBlockName,
      classModifiers: '',
    });

    let imagesListInnerWrap = new variables.NodeElement(obj = {
      bemBlockName: bemBlockName,
      tagName: `div`,
      elementName: `__inner-wrap`,
      classModifiers: '',
    });

    let imagesListItem = new variables.NodeElement(obj = {
      bemBlockName: bemBlockName,
      tagName: `div`,
      elementName: `__item`,
      classModifiers: '',
    });

    let imagesListImage = new variables.NodeElement(obj = {
      bemBlockName: bemBlockName,
      tagName: `img`,
      elementName: `__image`,
      src: 'img/images-list__item--image-1.jpg',
      classModifiers: '',
    });

  #{imagesList.tagName}(class=[
    nameMixedClass,
    imagesList.elementName,
    imagesList.getModifierClasses(),
  ])

    #{imagesListInnerWrap.tagName}(class=[
      `${imagesList.elementName}${imagesListInnerWrap.elementName}`,
      imagesListInnerWrap.getModifierClasses(),
    ])

      #{imagesListItem.tagName}(class=[
        `${imagesList.elementName}${imagesListItem.elementName}`,
        imagesListItem.getModifierClasses(),
      ])

        #{imagesListImage.tagName}(class=[
          `${imagesList.elementName}${imagesListImage.elementName}`,
          imagesListImage.getModifierClasses(),
        ]
        src=imagesListImage.src,
        alt=imagesListImage.alt,
        )
