mixin priceTable(className, obj)
  -
    var obj = obj || {};
    obj.title = obj.title || `Прайс - интерьерной печати`;
    obj.content = obj.content  || [
      [`Материал`, 1, 5, 10, 20, 50, 100,],
      [`Самоклеющаяся плёнка`,	390,	370,	360,	340,	330,	320,],
      [`Фотобумага`, 570,	540,	520,	500,	490,	485,],
      [`Банер`,	380,	350,	330,	320,	310,	300,],
      [`Холст натуральный`,	1350,	1290,	1260,	1240,	1230,	1220,],
      [`Бэклит`, 1000,	970,	950,	930,	920,	910,],
      [`Бумага постерная`,	320,	300,	280,	270,	260,	255,],
    ];
    obj.hiddenColumn = obj.hiddenColumn || {
      mobiles: [2, 4, 6],
    };

  section(class=[className, `price-table`])
    h2.price-table__title #{obj.title}
    table.price-table__table
      caption.visually-hidden #{obj.title}
      each contentItem,  i in obj.content
        if (i === 0)
          tr(class=`price-table__table-row`)
            each contentItemTitle, index in obj.content[i]
              if (i == 0)
                if (index > 0)
                  if (obj.hiddenColumn.mobiles.includes(index))
                    th(class=`visually-hidden-mobile
                    price-table__table-cell
                    price-table__table-cell--title`) #{contentItemTitle} м<sup><small>2</small></sup>
                  else
                    th(class=`price-table__table-cell
                    price-table__table-cell--title`) #{contentItemTitle} м<sup><small>2</small></sup>
                else
                  th(class=`price-table__table-cell
                  price-table__table-cell--first-column
                  price-table__table-cell--title`) #{contentItemTitle}
              else
                th(class=`price-table__table-cell
                price-table__table-cell--title`) #{contentItemTitle}
        else
          tr.price-table__table-row
            each contentItem, index in obj.content[i]
              if (index == 0)
                td(class=`price-table__table-cell
                price-table__table-cell--first-column`) #{contentItem}
              else
                if (index % 2)
                  if (obj.hiddenColumn.mobiles.includes(index))
                    td(class=`visually-hidden-mobile
                    price-table__table-cell`) #{contentItem}
                  else
                    td(class=`price-table__table-cell`) #{contentItem}
                else
                  if (obj.hiddenColumn.mobiles.includes(index))
                    td(class=`visually-hidden-mobile
                    price-table__table-cell`) #{contentItem}
                  else
                    td(class=`price-table__table-cell`) #{contentItem}





