mixin sliderLabel(nameMixedClass, obj)
  -
    obj = obj || {}
    obj.tagName = obj.tagName || 'p'; // тег блока по умолчанию
    obj.classModifiers = obj.classModifiers || [];
    obj.elementName = obj.elementName || 'slider-label';

    obj.title = obj.title || {};
    obj.title.tagName = obj.title.tagName || 'span'; // тег элемента по умолчанию
    obj.title.classModifiers = obj.title.classModifiers || [];
    obj.title.classModifiers = variables.getArrayClassModifiers(obj.title.classModifiers);
    obj.title.elementName = obj.title.elementName || '__title'; // имя элемента по умолчанию
    obj.title.textContent = obj.title.textContent || 'Lorem impulse';

    obj.comment = obj.comment || {}
    obj.comment.tagName = obj.comment.tagName || 'span'; // тег элемента по умолчанию
    obj.comment.classModifiers = obj.comment.classModifiers || [];
    obj.comment.classModifiers = variables.getArrayClassModifiers(obj.comment.classModifiers);
    obj.comment.elementName = obj.comment.elementName || '__comment'; // имя элемента по умолчанию

  #{obj.tagName}(class=[nameMixedClass,
  `${obj.elementName} ${variables.getModifierClasses(obj.classModifiers, obj.elementName)}`])

    #{obj.title.tagName}(class=[`${obj.elementName}${obj.title.elementName}`,
    variables.getModifierClasses(obj.title.classModifiers,
    `${obj.elementName}${obj.title.elementName}`)]) #{obj.title.textContent}

    if (obj.comment.textContent)
      #{obj.comment.tagName}(class=[`${obj.elementName}${obj.comment.elementName}`,
      variables.getModifierClasses(obj.comment.classModifiers,
      `${obj.elementName}${obj.comment.elementName}`)]) #{obj.comment.textContent}
