mixin sliderLabel(nameMixedClass, obj = {})
  -
    var blockName = 'slider-label'; // имя блока

    obj.tagName = obj.tagName || 'p'; // тег блока по умолчанию
    obj.title = obj.title || {}
    obj.title.tagName = obj.title.tagName || 'span'; // тег элемента по умолчанию
    obj.title.textContent = obj.title.textContent || 'lorem text'; // текст элемента по умолчанию
    obj.comment = obj.comment || {}
    obj.comment.tagName = obj.comment.tagName || 'span'; // тег элемента по умолчанию

  #{obj.tagName}(class=[nameMixedClass, blockName])
    #{obj.title.tagName}(class=[`${blockName}__title`]) #{obj.title.textContent}

    //- Отрисовывает элемент, если значение не пустая строка
    if (obj.comment.textContent)
      #{obj.comment.tagName}(class=[`${blockName}__comment`]) #{obj.comment.textContent}
