mixin texts(nameMixedClass, obj)
  -
    obj = obj || {}
    obj.tagName = obj.tagName || 'div'; // тег блока по умолчанию
    obj.elementName = obj.elementName || 'texts';
    obj.classModifiers = obj.classModifiers || [];
    obj.classModifiers = variables.getArrayClassModifiers(obj.classModifiers);
    obj.elements = obj.elements || [];

    obj.image = obj.image || {};
    obj.image.isRender = obj.image.isRender || false;
    obj.image.title = obj.image.title || {};
    obj.image.title.textContent = obj.image.title.textContent || false;
    obj.image.title.style = obj.image.title.style || '';
    obj.image.src = obj.image.src || 'img/texts__image-content--1.jpg';


    obj.slider = obj.slider || {};
    obj.slider.isRender = obj.slider.isRender || false;

  #{obj.tagName}(class=[
    nameMixedClass,
    obj.elementName,
    variables.getModifierClasses(obj.classModifiers, obj.elementName)
  ])
    if(obj.image.isRender)
      if (obj.image.title.textContent)
        case obj.image.title.style
          when 'label'
            +label(`${obj.elementName}__image-title
            ${obj.elementName}__image-title--label` , {
              classModifiers: [`--color-orange`],
              title: {
                tagName: 'span',
                textContent: obj.image.title.textContent,
                classModifiers: [`--color-white`],
              },
            })
          default
            p(class=`${obj.elementName}__image-title`) #{obj.image.title.textContent}
      div(class=`${obj.elementName}__image`)
        div(class=`${obj.elementName}__image-content` style=`background-image: url('${obj.image.src}');`)

    if(obj.slider.isRender)
      +slider(`${obj.elementName}__slider`, {
        classModifiers: ['--size-small'],
      })

    each item in obj.elements
      -
        var tagName = item.tagName || 'p';
        item.title = item.title || {};

      if (item.title.isRender)
        +label(`${obj.elementName}__text-title` ,{
          classModifiers: [`--color-orange`],
          title: {
            tagName: 'span',
            textContent: item.title.textContent,
            classModifiers: [`--color-white`],
          },
        })
      #{tagName} !{item.textContent}
