include types-products-list.pug

mixin types-products(className, obj)
  -
    var teamplateItem = {
      title: 'lorem title item',
      href: 'page-empty.html',
      imageName: 'types-products-list__image--kalendar.jpg',
    };

    var obj = obj || {};
    obj.title = obj.title || 'lorem title lorem title lorem title lorem';
    obj.listItems = obj.listItems || [teamplateItem, teamplateItem];

    var imagePath = variables.imagePath;

  section(class=[className, 'types-products'])
    h2.types-products__title #{obj.title}
    +typesProductsList('types-products__list', obj.listItems)

    //- ul.types-products__list.types-products-list
    //-   each item in obj.listItems
    //-     li.types-products-list__item
    //-       a.types-products-list__link(href=item.href || 'page-empty.html')
    //-         .types-products-list__wrap-image
    //-           img.types-products-list__image(src=imagePath + item.imageName, alt=item.imageAlt)
    //-         h3.types-products-list__title #{item.title}
