include includes/_includes.pug

-
  var pageClassName = variables.page.index.className;
  var pageTitle = variables.page.index.title;

  var aboutUs = variables.page.index.aboutUs;
  var typesProducts = variables.page.index.typesProducts;
  var orderPlanData = variables.page.index.orderPlan

  var obj = {};
  obj.pageClassName = pageClassName || '';

<!DOCTYPE html>
html(lang="ru")
  +head(pageTitle, pageTitle)
  body(class=pageClassName)
    +header('', obj)
    main(class=pageClassName + '__main')
      h1.visually-hidden Типография оранж - типография полного цикла.
      +types-works(pageClassName + '__types-works')
      div(class=pageClassName + '__simple-decorative-line decorative-line--simple')
      +about-us(pageClassName + '__about-us', aboutUs)
      div(class=pageClassName + '__decorative-line decorative-line')
      +types-products(pageClassName + '__types-products', typesProducts)
      div(class=pageClassName + '__wrap-order-plan')
        +orderPlan(pageClassName + '__order-plan', orderPlanData)
    +footer
