include includes/variables.pug
include includes/head.pug
include includes/header.pug
include includes/footer.pug
include includes/types-works.pug
include includes/about-us.pug
include includes/types-products.pug
include includes/order-plan.pug

-
  var pageClassName = variables.page.main.className;
  var pageTitle = variables.page.main.title;

  var aboutUs = variables.page.main.aboutUs;
  var typesProducts = variables.page.main.typesProducts;
  var orderPlanData = variables.page.main.orderPlan

<!DOCTYPE html>
html(lang="ru")
  +head(pageTitle)
  body(class=pageClassName)
    +header(pageClassName + '__header')
    //- main(class=pageClassName + '__main')
    //-   h1.visually-hidden Типография оранж - типография полного цикла.
    //-   +types-works(pageClassName + '__types-works')
    //-   div(class=pageClassName + '__wrap-about-us decorative-line decorative-line--simple')
    //-     +about-us(pageClassName + '__about-us', aboutUs)
    //-   div(class=pageClassName + '__wrap-types-products decorative-line')
    //-     +types-products(pageClassName + '__types-products', typesProducts)
    //-   div(class=pageClassName + '__wrap-order-plan')
    //-     +orderPlan(pageClassName + '__order-plan', orderPlanData)
    //- +footer(pageClassName + '__footer')
