include includes/_includes.pug

-
  var pageClassName = 'product-page';
  var pageTitle = 'Печать буклетов';

<!DOCTYPE html>
html(lang="ru")
  +head(pageTitle, pageTitle)
  body(class=pageClassName)
    +header
    main(class=pageClassName + '__main')
      +titleTypeWork(`${pageClassName}__title`, {
        tagName: 'h1',
        textContent: pageTitle,
      })
      +sliderAndProductDescription(`${pageClassName}__slider-and-product-description`, {
        managerCheck: {
          isRender: true,
        },
        sendIdeas: {
          isRender: false,
        },
        informationCall: {
          isRender: false,
        },
        texts: {
          isRender: true,
          elements: [
            {
              textContent: `Какая разница между буклетом,
              брошюрой и каталогом?`,
            },
            {
              textContent: `<b>Ответ:</b><br>
              Буклет это всегда один лист рекламной листовки
              сложенной определенным образом в трое.. Каталог -
              это книга описания товаров с их фотографиям.
              Каталог в один лист и сложенный в 3 сгиба будет
              называться буклет. Брошюра несколько листов
              скрепленные скобой, отличается от каталога меньшим
              количеством страниц и способом скрепления
              страниц через сгиб.`,
            },
            {
              textContent: `Буклет в три сгиба называется профессионально
              - лефлет и может бы также в 1 сгиб (напримар А4 пополам ).
              Смысл в том что буклет - это по сути Листовка А4 или А3 ,
              сложенная тем или иным способом.`,
            },
            {
              textContent: `<b>Преимущества БУКЛЕТА:</b><br>
              Буклет содержит гораздо меньше информации чем
              каталог или брошура, это более дешёвый вариант,
              практически самый дешёвый в полиграфии. Основной
              акцент в нём делается на напоминание координат
              компании и чем она занимается. Так же этот вид
              рекламы используется широко (из-за своей компактности)
              при доставке (как еды, так и товаров) так как клиенты такую
              компактную бумажку могут и сохранить а вот ту же листовку
              А4 точно выкинут.`,
            },
          ],
        },
      })
      +texts(`${pageClassName}__texts`, {
        elements: [
          {
            textContent: `<b>Основные отличия КАТАЛОГА:</b>`,
          },
          {
            textContent: `Каталог же - это обязательно полный перечень
            товаров с их подробным описанием. Он как правило А4 либо А3
            формата, практически всегда проклеенный, иногда на скрепке.
            Информация о компании или клиенте так же представлена
            подробно и развёрнуто. Как правило на хорошей бумаге
            с прекрасным качеством печати и продуманным до мелочей дизайном.`,
          },
          {
            textContent: `<b>Брошюра - не много, не мало:</b>`,
          },
          {
            textContent: `Брошюра - это просто небольшая
            А5 формата книжечка, может быть низкого,
            среднего или хорошего качества и содержать
            всё что угодно - от рекламы до стихов. на скрепке.
            Средний вариант м/у каталогом и буклетом.
            Но В качестве рекламы выбирают в основном либо каталог либо
            буклет, а брошюру - когда надо о чём то или о ком то рассказать...`,
          },
          {
            textContent: `<b>Преимущества цифровой печати:</b><br>
            Возможность печати от 1 экземпляра`,
          },
          {
            textContent: `<b>Преимущества офсетной печати:</b><br>
            Малая стоимость 1 экземпляра при большом тираже`,
          },
          {
            textContent: `<b>Типы скрепления:</b><br>
            Скоба, пружина, термоклей`,
          },
        ],
      })
      +decorativeLine(`${pageClassName}__decorative-line`, {
        classModifiers: '--simple',
      })
      +fasteningTypes(`${pageClassName}__fastening-types`)
      +decorativeWrapper(`${pageClassName}__decorative-wrapper`, {
        classModifiers: '--image-3',
      })
      +decorativeLine(`${pageClassName}__decorative-line`)
    +footer
