include includes/_includes.pug

-
  var pageClassName = 'page-flysheet';
  var pageTitle = 'Печать листовок';

<!DOCTYPE html>
html(lang="ru")
  +head(pageTitle, pageTitle)
  body(class=pageClassName)
    +header
    main(class=pageClassName + '__main')
      +titleTypeWork(pageClassName + '__title-type-work',{
        tagName: 'h1',
        textContent: pageTitle,
      })
      div(class=pageClassName + '__slider-and-product-description decorative-line decorative-line--double-simple decorative-line--double-simple-color-top-gray')
        +slider-and-product-description('', {
          texts: {
            elements: [
              {
                textContent: `<b>Листовка</b> – это рекламное издание объемом
                от одной до четырех страниц с информацией.
                Для чего нужна цифровая печать листовок и в чем ее преимущества?`,
              },
              {
                textContent: `<b>Листовка</b> – один из самых экономичных, но эффективных способов
                продвижения товаров и услуг. Вы хотите информировать клиентов
                о новой акции или распродаже? Красочная листовка – отличный
                способ сделать это быстро и без особых затрат.
                Печать листовок может занять от часа до нескольких
                часов, а хорошо продуманные изделия
                распространятся и прочитаются потребителями так же быстро!`,
              },
              {
                textContent: `<b>ПОПУЛЯРНЫЕ ФОРМАТЫ</b>`,
              },
              {
                textContent: `В наше время листовка обычно представляет собой
                лист формата А4, А5 с односторонней или двухсторонней
                печатью. В нашей типографии вы можете оперативно
                изготовить вид данной продукции.`,
              },
            ],
          },
        })
      +informationCall(pageClassName + '__information-call')
      div(class=pageClassName + '__decorative-wrapper decorative-wrapper decorative-wrapper--image-2')
      div(class=pageClassName + '__decorative-line decorative-line')
    +footer
