include includes/_includes.pug

-
  var pageClassName = 'page-calendars';
  var pageTitle = 'Календари';

<!DOCTYPE html>
html(lang="ru")
  +head(pageTitle, pageTitle)
  body(class=pageClassName)
    +header

    main(class=pageClassName + '__main')
      div(class=`${pageClassName}__wrap-text`)
        +titleTypeWork(`${pageClassName}__title`, {
          tagName: 'h1',
          textContent: pageTitle,
        })
        p(class=`${pageClassName}__description`)
          | Календари с корпоративной символикой – это один
          | из самых популярных бизнес-сувениров. Они могут
          | стать отличным рекламным носителем, который займет
          | свое место в офисе партнеров по бизнесу или в доме клиента.
          | Удобный настольный или настенный календарь помогает
          | планировать время, поэтому такой подарок станет
          | полезным для получателя.
          | Популярность такой полиграфической продукции объясняется
          | и ее универсальностью. В зависимости от задачи заказчика,
          | можно изготовить большие квартальные календари с логотипом
          | или маленькие карманные календарики с фирменной символикой.
        p(class=`${pageClassName}__description`)
          | Популярность такой полиграфической продукции объясняется
          | и ее универсальностью. В зависимости от задачи заказчика,
          | можно изготовить большие квартальные календари с логотипом
          | или маленькие карманные календарики с фирменной символикой.
      +typesCalendars(`${pageClassName}__types-calendars`)
      p(class=`${pageClassName}__lead`) Закажи календари сейчас по выгодной цене!
      ul(class=`${pageClassName}__calendars-list`)
        li(class=`${pageClassName}__calendar decorative-line decorative-line--simple decorative-line--simple-color-gray`)
          +sliderAndProductDescription('', {
            columnSlider: {
              id: 'calendar-1',
            },
            label: {
              title: {
                textContent: 'Моно',
              },
            },
            texts: {
              elements: [
                {
                  textContent: `Календарь МОНО с одной стороны подчеркнет Ваш уникальный стиль,
                  а с другой гармонично впишется в любое, даже самое маленькое
                  пространство на стене. А изготовление такого календаря в
                  нашей типографии очень удивит Вас ценой!`,
                },
                {
                  textContent: `Группа наших дизайнеров с удовольствием разработает для Вас
                  индивидуальный дизайн, который подчеркнет достоинства
                  Вашей компании и Ваш неповторимый стиль!`,
                },
                {
                  textContent: `<b>Печать подложки и шпигеля: полноцветная на картоне 265 гр/м2</b>`,
                },
                {
                  textContent: `<b>Календарные блоки: стандартные (цветность) 2+0 на офсетной бумаге 80 гр/м2</b>`,
                },
                {
                  textContent: `<b>Крепление:пружина (белая/серебро)</b>`,
                },
                {
                  textContent: `<b>Люверс (белый/серебро)</b>`,
                },
                {
                  textContent: `<b>Бегунок</b>`,
                },
              ],
            },
          })
        li(class=`${pageClassName}__calendar decorative-line decorative-line--simple`)
          +sliderAndProductDescription('', {
            columnSlider: {
              id: 'calendar-2',
              classModifiers: '--color-white',
            },
            label: {
              classModifiers: '--color-orange',
              title: {
                textContent: 'Трио',
                classModifiers: '--color-white',
              },
            },
            texts: {
              elements: [
                {
                  textContent: `Календарь ТРИО подойдет практически для любой компании.
                  Этот вид календаря полюбили многие компании
                  за его практичность, красоту и невысокую стоимость производства!`,
                },
                {
                  textContent: `Группа наших дизайнеров с удовольствием разработает для Вас
                  индивидуальный дизайн, который подчеркнет достоинства
                  Вашей компании и Ваш неповторимый стиль!`,
                },
                {
                  textContent: `<b>Печать подложки и шпигеля: полноцветная на картоне 265 гр/м2</b>`,
                },
                {
                  textContent: `<b>Календарные блоки: стандартные (цветность) 2+0 на офсетной бумаге 80 гр/м2</b>`,
                },
                {
                  textContent: `<b>Крепление:пружина (белая/серебро)</b>`,
                },
                {
                  textContent: `<b>Люверс (белый/серебро)</b>`,
                },
                {
                  textContent: `<b>Бегунок</b>`,
                },
              ],
            },
          })
        li(class=`${pageClassName}__calendar decorative-line decorative-line--simple`)
          +sliderAndProductDescription('', {
            columnSlider: {
              id: 'calendar-3',
              classModifiers: '--color-green',
            },
            label: {
              title: {
                textContent: 'Домик',
                classModifiers: '--color-green',
              },
              description : {
                  textContent: '*стандарт',
              },
            },
            texts: {
              elements: [
                {
                  textContent: `Настольный календарь "домик" подразумевает его использование
                  прямо на рабочем месте Ваших клиентов, а значит Ваша
                  компания всегда будет в поле видимости,
                  будет своей, родной, ведь она впишется в
                  рабочее пространство человека на целый год!`,
                },
                {
                  textContent: `Группа наших дизайнеров с удовольствием разработает для Вас
                  индивидуальный дизайн, который подчеркнет достоинства
                  Вашей компании и Ваш неповторимый стиль!`,
                },
                {
                  textContent: `<b>Домик горизонтальный</b>`,
                },
                {
                  textContent: `<b>Основа (210 х 120 х 60) биговки 3шт: с печатью 4+0 на картоне 265 гр/м2</b>`,
                },
                {
                  textContent: `<b>Крепление: склейка</b>`,
                },
              ],
            },
          })
        li(class=`${pageClassName}__calendar decorative-line decorative-line--simple decorative-line--simple-color-green`)
          +sliderAndProductDescription('', {
            columnSlider: {
              id: 'calendar-4',
              classModifiers: '--color-white',
            },
            label: {
              classModifiers: '--color-orange',
              title: {
                textContent: 'Домик',
                classModifiers: '--color-white',
              },
              description : {
                textContent: '*перекидной',
                classModifiers: '--color-black',
              },
            },
            texts: {
              elements: [
                {
                  textContent: `Настольный календарь "домик" с перекидными блоками
                  позволит вам рассказать о компании и товаре
                  более развёрнуто, предоставив о
                  них фото и необходимую рекламную информацию.`,
                },
                {
                  textContent: `Такой календарь подразумевает его использование прямо
                  на рабочем месте Ваших клиентов, а значит
                  Ваша компания всегда будет в поле видимости,
                  будет своей, родной, ведь она впишется
                  в рабочее пространство человека на целый год!`,
                },
                {
                  textContent: `Группа наших дизайнеров с удовольствием разработает для Вас
                  индивидуальный дизайн, который подчеркнет достоинства
                  Вашей компании и Ваш неповторимый стиль!`,
                },
                {
                  textContent: `<b>Домик горизонтальный с перекидными блоками</b>`,
                },
                {
                  textContent: `<b>Основа (210 х 120 х 60) биговки 3шт: с печатью 4+0 на картоне 265 гр/м2</b>`,
                },
                {
                  textContent: `<b>Блоки (210 х 90) - 6 шт (4+4) + обложка или 12 шт (4+0) + обложка</b>`,
                },
                {
                  textContent: `<b>Крепление: пружина</b>`,
                },
              ],
            },
          })
        li(class=`${pageClassName}__calendar decorative-line decorative-line--simple`)
          +sliderAndProductDescription('', {
            columnSlider: {
              id: 'calendar-5',
              classModifiers: '--color-orange-dark',
            },
            label: {
              title: {
                textContent: 'Домик',
              },
              description : {
                textContent: '*численник 1/2',
              },
            },
            texts: {
              elements: [
                {
                  textContent: `Настольный календарь "домик" с перекидными
                  индивидуальными блоками 1/2*`,
                },
                {
                  textContent: `Такой календарь обязательно  заинтересует
                  Ваших клиентов, своей индивидуальностью,
                  а значит Ваша компания всегда будет
                  в поле видимости и привлекать внимание
                  к Вашей рекламе.`,
                },
                {
                  textContent: `Группа наших дизайнеров с удовольствием разработает для Вас
                  индивидуальный дизайн, который подчеркнет достоинства
                  Вашей компании и Ваш неповторимый стиль!`,
                },
                {
                  textContent: `<b>Домик горизонтальный с перекидными блоками</b>`,
                },
                {
                  textContent: `<b>Основа (210 х 120 х 60) биговки 3шт: с печатью 4+0 на картоне 265 гр/м2</b>`,
                },
                {
                  textContent: `<b>Блоки (210 х 90) - 6 шт (4+4) + обложка или 12 шт (4+0) + обложка</b>`,
                },
                {
                  textContent: `<b>Крепление: пружина</b>`,
                },
              ],
            },
          })
        li(class=`${pageClassName}__calendar decorative-line decorative-line--simple decorative-line--simple-color-white`)
          +sliderAndProductDescription('', {
            columnSlider: {
              id: 'calendar-6',
              classModifiers: '--color-green',
            },
            label: {
              title: {
                textContent: 'Карманный',
                classModifiers: '--color-green',
              },
            },
            texts: {
              elements: [
                {
                  textContent: `Карманные календари служат
                  приятным дополнением к настенным! Такие
                  календари можно часто встретить в записных
                  книжках, ежедневниках и бумажниках Ваших клиентов!`,
                },
                {
                  textContent: `Группа наших дизайнеров с удовольствием
                  разработает для Вас индивидуальный дизайн,
                  который подчеркнет достоинства Вашей компании
                  и Ваш неповторимый стиль!`,
                },
                {
                  textContent: `<b>Печать двухсторонняя или
                  односторонняя: полноцветная на картоне 265 гр/м2</b>`,
                },
                {
                  textContent: `<b>Дополнительно можно сделать:</b>`,
                },
                {
                  textContent: `<b>Ламинация (матовая/глянцевая)</b>`,
                },
                {
                  textContent: `<b>Кругление углов</b>`,
                },
              ],
            },
          })
    +footer
