include includes/_includes.pug

-
  var pageClassName = 'page-calendars';
  var pageTitle = 'Календари';

<!DOCTYPE html>
html(lang="ru")
  +head(pageTitle, pageTitle)
  body(class=pageClassName)
    +header

    main(class=pageClassName + '__main')
      div(class=`${pageClassName}__wrap-text`)
        +titleTypeWork(`${pageClassName}__title`, {
          tagName: 'h1',
          textContent: pageTitle,
        })
        p(class=`${pageClassName}__description`)
          | Календари с корпоративной символикой – это один
          | из самых популярных бизнес-сувениров. Они могут
          | стать отличным рекламным носителем, который займет
          | свое место в офисе партнеров по бизнесу или в доме клиента.
          | Удобный настольный или настенный календарь помогает
          | планировать время, поэтому такой подарок станет
          | полезным для получателя.
          | Популярность такой полиграфической продукции объясняется
          | и ее универсальностью. В зависимости от задачи заказчика,
          | можно изготовить большие квартальные календари с логотипом
          | или маленькие карманные календарики с фирменной символикой.
        p(class=`${pageClassName}__description`)
          | Популярность такой полиграфической продукции объясняется
          | и ее универсальностью. В зависимости от задачи заказчика,
          | можно изготовить большие квартальные календари с логотипом
          | или маленькие карманные календарики с фирменной символикой.
      +typesCalendars(`${pageClassName}__types-calendars`)
      p(class=`${pageClassName}__lead`) Закажи календари сейчас по выгодной цене!

    +footer
