include includes/_includes.pug
//- include includes/slider-label.pug

-
  var pageClassName = 'page-offset';
  var pageTitle = 'Офсетная печать';

<!DOCTYPE html>
html(lang="ru")
  +head(pageTitle, pageTitle)
  body(class=pageClassName)
    +header
    main(class=pageClassName + '__main')
      div(class=`${pageClassName}__wrap-top`)
        div(class=`${pageClassName}__wrap-icon`)
          div(class=`${pageClassName}__icon`)
          div(class=`${pageClassName}__icon-text`)
        div(class=`${pageClassName}__wrap-text`)
          +titleTypeWork(`${pageClassName}__title`, {tagName: 'h1', textContent: pageTitle})
          p(class=`${pageClassName}__description`)
            | В традиционной офсетной печати краска попадает на бумагу, проходя как минимум два
            | вала — один из них называется валом с формой, а другой — офсетным валом.
            | Форма чаще всего представляет собой пластину с фоточувствительным покрытием
            | (как правило, основой пластины служат сплавы алюминия (в советское время, как правило,
            | использовался картон с нанесением покрытия).
          p(class=`${pageClassName}__description`)
            | Затем на форму наносится изображение. После экспонирования и проявки засвеченные части
            | формы начинают притягивать воду и отталкивать любую маслянистую субстанцию, в частности краску.
            | Такие части называются гидрофильными и (реже) олеофобными. Оставшиеся (незасвеченные) части
            | форм начинают, наоборот, отталкивать воду и притягивать краску. Они, в свою очередь,
            | называются гидрофобными или олеофильными. Таким образом краска переносится исключительно на
            | гидрофобные части формы, формируя буквы и изображения. При каждом повороте с помощью системы
            | увлажняющих валиков вал с печатной формой омывается водой, затем через систему красочных валиков
            | на его гидрофобные части наносится краска. Изображение переносится с вала с печатной формой на
            | офсетный вал, а оттуда — на бумагу. Офсетный вал способствует меньшему износу форм и большей
            | ровности краски.
      div(class=`${pageClassName}__wrap-slider decorative-line decorative-line--double-simple decorative-line--double-simple-color-top`)
        div(class=`${pageClassName}__slider`)
          +sliderLabel(`${pageClassName}__slider-wrap-text`, {
            title: {
              textContent: 'примеры',
            },
          })
          +slider(`${pageClassName}__slider-slides slider--not-shadow`)

    +footerWrapper
